<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Data Collector App</title>
    <link rel="stylesheet" href="../static/main.css"> 
    <!-- ../static/main.css ==> will go 2 step up and then select the css file, 'stylesheet' ==> means this is a css file -->
</head>
<body>
  <div class="container">
    <p>Thank you for your submission! <br>
    You will shortly receive an email with survey results</p>


  </div>
</body>
</html>